.scenicBackdropMount {
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scenicBackdropMount__overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
