.gameLayoutRoot {
  min-width: 100vh;
  min-height: 100vh;
  background: url('../assets/background/cbg_bg.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;

}

.nonheader {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.gameLayoutContent {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding-left: 14rem;
  padding-top: 5rem;

}

.gameLayoutPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  height: 100%;
}

.gameLayoutPlaceholderCard {
  text-align: center;
}

.gameLayoutPlaceholderIcon {
  font-size: 3.5rem;
  margin-bottom: var(--space-4);
}

.gameLayoutPlaceholderTitle {
  font-size: var(--text-2xl);
  font-weight: 700;
  color: var(--color-ink-paper);
  margin-bottom: var(--space-3);
}

.gameLayoutPlaceholderText {
  color: var(--color-ink-light);
  font-size: var(--text-base);
}

@media (max-width: 1024px) {
  .gameLayoutMain {
    margin-left: 0;
    padding-top: calc(var(--space-7) + 20px);
  }
}