@import "tailwindcss";

:root {
  font-family: "Julee", cursive;
  color: black;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #0f172a;
  color: #f1f5f9;
}

.title {
  font-family: "Protest Revolution", sans-serif;
}